{% extends "base.html" %}
{% block content %}
<div style="margin-left: 30px; margin-right: 30px;">
<table class="table" >
    <tr><td>Country</td> <td>Servers count</td> <td>IP address</td><td>Langs</td> <td></td> <td></td></tr>
{% for coun in text_list %}
<div>
    <tr>
        {% for k, v in coun.items() %}
        <td> {{v}}</td>
        {% endfor %}
        <td style="width: 230px;"><a class="btn btn-primary" style="width: 200px; background-color:whitesmoke; color: black;" href="/edit_country/{{ coun.location }}">Edit</a></td>
        <td style="width: 230px;"><a class="btn btn-primary" style="width: 200px; background-color:whitesmoke; color: black;" href="/countries/{{ coun.location }}/delete">Delete</a></td>
    </tr>
</div>
{% endfor %}
</table>
</div>
{% endblock %}
