{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="alert alert-{{color}} " style=" margin-left: 20px; max-width: 800px;" >{{ message }}</div>
{% endif %}
<form class="form" style="margin-left: 30px;" action="" method="post">
    
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="key">Тип сервера</label>
        <div class="col-sm-10">
        <select name="type_of_server" class="form-select" style="width: 400px;"  id="">
            {% for type in types %}
            <option value="{{ type.type_of_server }}">{{ type.type_of_server }}</option>
            {% endfor %}
        </select> 
        </div>
    </div>


    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="text">Адрес</label>
        <div class="col-sm-10">
            <input value="{{ info.host }}" class="form-control" style="width: 400px;" type="text-box" name="address">
        </div>
    </div>


    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="text">Расположение</label>
    <div class="col-sm-10">
    <select name="location" class="form-select" style="width: 400px;" id="">
        {% for count in countries %}
        <option value="{{ count.name }}">{{ count.name }}</option>
        {% endfor %}
    </select>
    </div>
    </div>

    
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="key">Описание</label>
    <div class="col-sm-10">
    <input value="{{ info.description }}" class="form-control" style="width: 400px;" type="text" name="description">
    </div>
    </div>

    <div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="text">Search Engines</label>
    <div class="col-sm-10">
    <select multiple class="form-control" name='engines' style="width: 400px;" >
        {% for parser in parsers %}
        <option value="{{ parser.engine }}">{{ parser.engine }}</option>
        {% endfor %}
    </select>
    </div>
    </div>


    <input  class="btn btn-primary" style="margin-left: 318px; width: 200px;" type="submit" value="Save">
    
    
    </p>

</form>

{% endblock %}
