{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="alert alert-{{color}}" style=" margin-left: 20px; max-width: 800px;" role="alert" style="background-color:{{color}};" >{{ message }}</div>
{% endif %}
<form class="form" style="margin-left: 30px; margin-top: 20px;" action="" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    

    <div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="key">Langs</label>
    <div class="col-sm-10">
    <select name="lang" class="form-select" style="width: 400px;" id="">
        {% for lang in langs %}
        <option value="{{ lang.name }}">{{ lang.name }}</option>
        {% endfor %}
    </select> 
    </div>
    </div>

    <div class="row mb-3">
    <label class="col-sm-2 col-form-label"  for="text">Name</label>
    <div class="col-sm-10">
    <input value="{{ info.Location }}"  class="form-control" style="width: 400px;" type="text-box" name="name">
    </div>
    </div>
    <!--
    <label for="text">Расположение</label>
    <select name="location" class="select" id="">
        {% for count in countries %}
        <option value="{{ count.name }}">{{ count.name }}</option>
        {% endfor %}
    </select>
    </p>
    <p>
    <label for="key">Описание</label>
    <input value="{{ info.description }}" class="text-input" type="text" name="description">
    </p>
    <p>
    <label for="text">Подробное описание</label>
    <input value="{{ info.full_description }}" class="text-input" type="text-box" name="full_description">
    </p>
    <p>
    -->
    <input  class="btn btn-primary" type="submit" value="Save">
    
    
    </p>
</form>

{% endblock %}
