{% extends "base.html" %}
{% block content %}
<div>
    <h1>FAQ</h1>
    <h2>API Requests</h2>
</div>
<div>
    <p></p>
    <p><b>~/server/"server_name"/host"/"location"/"description" </b> ## <b>'GET</b> ## creates a Server object "</p>
    <p><b>~/countries/"name"</b> ##  <b>'GET</b> ## creates Country object where name is a name of Country field.</p>
    <p><b>~/groups/"type"   </b> ##  <b>'GET</b>## creates Type_Of_Server object where type is a type_of_server Server field</p>
    <p><b> ~/langs/'short'/'full'/'name'</b>## <b>'GET</b> ## query to create Language object</p>
    <p><b> ~/country/'name'</b> ##  <b>'GET</b>## Query shows info about Country in JSON</p>
    <p><b> ~/langs/'name'</b> ##  <b>'GET</b>## Query shows languages in Country </p>
    <p><b> ~/countries/all</b> ##  <b>'GET</b>## Query returns all Countries in JSON </p>
    <p></p>
    <p><b> ~/translate/all</b> ##  <b>'GET</b>##  returns a dict LANGS </p>
    <p><b> ~/translate_query</b> ##  <b>'GET</b>##  query to country lang. Takes input like:</p>
    <p></p>
    <pre>{
        "to_lang": "ko",
        "src_lang": "en",
        "query": "python translator free"
    }</pre>
</div>
{% endblock %}
