{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="error">{{ message }}</div>
{% endif %}
<form class="form" action="" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <tr><p><td>
    
    <label for="key">Ключ</label></td><td>
    <input class="text-input" type="text" name="key"></td></p>
    </tr>
    <tr><p><td>
    <label for="text">Текст</label></td><td>
    <input class="text-input" type="text-box" name="text"></td></p>
    </tr>
    <p>
    <input  class="form-button" type="submit" value="Save">
    </p>
</form>
{% endblock %}
