{% extends "base.html" %}
{% block content %}
<div style="margin-left: 30px; margin-right: 30px;">
<table class="table" >
 <tr> <td><b>Searcher</b></td> <td><b>icon</b></td> <td> <b>text</b></td> <td><b> images</b> </td> <td><b>video</b></td>
<td>  <a class="btn btn-primary" style="width: 200px; background-color:whitesmoke; color: black;" href="/parsers/synchrodb/{{ ip }}">sync db</a> </td>
</tr>

 {% for res in result %}
 <tr>
<td style="font-style: italic;">{{res.engine}}</td>
<td><img src="{{res.icon}}" style="max-height: 100px; max-width: 100px;" alt=""></td>
<td>{% if 'general' in res.categories %} <p style="color: green;">	&#10010;</p> 
    {% else %} <p style="color: red">&#10008;</p> 
    {% endif %}</td>
<td>{% if 'images' in res.categories %} <p style="color: green;">&#10010;</p>  
    {% else %} <p style="color: red">&#10008;</p>  
    {% endif %}</td>
<td>{% if 'videos' in res.categories %} <p style="color: green;"> &#10010;</p>  
    {% else %} <p style="color: red">&#10008;</p>  
    {% endif %}</td>
<td style="width: 230px;">

    <a class="btn btn-primary" style="width: 200px; background-color:whitesmoke; color: black;" href="/parsers/{{ ip }}/{{ res.engine }}/delete">Delete</a>
</td>

</tr>
 {% endfor %}
</table>
</div>
{% endblock %}