{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="error">{{ message }}</div>
{% endif %}
<form class="form" action="" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <p>
    <label for="key">Тип сервера</label>
    <input class="text-input" type="text" name="type_of_server">
    </p>
    <p>
    <label for="text">Адрес</label>
    <input class="text-input" type="text-box" name="address">
    </p>
    <p>
    <label for="key">Описание</label>
    <input class="text-input" type="text" name="description">
    </p>
    <p>
    <label for="text">Подробное описание</label>
    <input class="text-input" type="text-box" name="full_description">
    </p>
    <p>
    <input  class="form-button" type="submit">
    </p>
</form>
{% endblock %}
